
::-webkit-scrollbar {
    width: 9px;
  border-radius:3px;
  color:#128deb;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #b7b7b7;
  outline: 1px solid slategrey;
}
/*SELECTION COLOR*/
::-moz-selection {
       background-color: #627CC1;
       color: #000;
}

::selection {
       background-color: #627CC1;
       color: #000;
}
/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}

.content {
  position: relative;
  z-index: 2;
}

/* =============================================================================
  VIDEO
============================================================================= */

.video {
  position: fixed;
  z-index: 1;
}
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: left;
  opacity: 1;
}

.content__heading {
  margin-bottom: 24px;
  color: rgb(39,39,39);
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 24px;
  color: rgb(89,89,89);
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(255,60,100);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px rgb(255,60,100);
}

video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  opacity: .3;

}
.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}